/*  global styles*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

.section {
  padding: 96px 0;
}
/* padding section desktop */
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
/* /padding section desktop */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* width container for tablets/desktop */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  @media (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
  }
}

/* js script */
.m-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.m-no-scroll {
  overflow: hidden;
}
/* /js script */

/* /width container for tablets/desktop */
/*  /global styles*/
/* header styles */
.menu,
.address {
  display: none;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.span-logo {
  color: #2e2f42;
}

.mobile-menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  fill: currentColor;
  max-height: 24px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
/* styles for tablets */
@media only screen and (min-width: 768px) {
  .mobile-menu-btn,
  .mobile-menu {
    display: none;
  }

  .nav-page {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .nav-logo {
    padding: 1.5px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
  }

  .address {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu .menu-list-link:hover,
  .menu .menu-list-link:focus {
    color: #404bbf;
  }

  .link-pseudo {
    position: relative;
    color: #404bbf;
  }

  .link-pseudo::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }
  .address-list-item {
    line-height: 1.17;
  }
  .address-list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address .address-list-link:hover,
  .address .address-list-link:focus {
    color: #404bbf;
  }
}
/* /styles for tablets */
/* styles for desktop */
@media only screen and (min-width: 1158px) {
  .nav-page {
    gap: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* /styles for desktop */
/* /header styles ----------------------------*/
/* styles mobile menu */
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 99999999;
    background-color: #fff;
  }

  .mobile-menu-container {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    padding: 72px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    min-height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    fill: white;
    border: none;
    outline: transparent;
  }

  .m-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .link-pseudo {
    color: #404bbf;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .m-address {
    margin-bottom: 48px;
  }

  .m-address-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .m-address-list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .tel-link {
    color: #4d5ae5;
  }

  .m-icons-list {
    display: flex;
    gap: 40px;
  }

  .m-icons-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
  }
}
/* /styles mobile menu */
/* hero section mobile */
.hero-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/images-mobile/mobile-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px auto;
  max-width: 216px;
}

.hero-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  margin: 0 auto;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section .hero-button:hover,
.hero-section .hero-button:focus {
  background-color: #404bbf;
}
/* /hero section mobile */
/* media for hero bg */
@media only screen and (min-resolution: 192dpi),
  (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images@2x/mobile-hero-bg@2x.jpg);
  }
}

@media (min-width: 768px) {
  .page-title {
    min-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
  }

  .page-title-transform {
    display: inline-block;
    text-transform: none;
  }
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-tablet/tablets-hero-bg.jpg);
  }

  @media (min-resolution: 192dpi),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/images@2x/tablets-hero-bg@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-desktop/hero-bg.jpg);
  }

  @media (min-resolution: 192dpi),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/images@2x/desktop-hero-bg@2x.jpg);
    }
  }
}
/* /media for hero bg */
/* styles for mobile our goals section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.goals-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.sublist-title-goals {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sublist-title-description {
  font-weight: 500;
}
/* /styles for mobile our goals section */
/* media for goals tablets/desktop section */
@media only screen and (max-width: 1157px) {
  .goals-list-card {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .goals-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .goals-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  .sublist-title-goals {
    text-align: left;
  }

  @media (min-width: 1158px) {
    .goals-list-card {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      height: 112px;
      padding: 24px 100px;
      margin-bottom: 8px;
      background-color: #f4f4fd;
    }

    .goals-list {
      flex-wrap: nowrap;
    }

    .goals-list-item {
      max-width: calc((100% - 72px) / 4);
    }

    .goals-card-item {
      fill: currentColor;
    }

    .sublist-title-goals {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }

    .sublist-title-description {
      font-weight: 400;
    }
  }
}

/* /media for goals tablets/desktop section */
/* mobile style team section */
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  display: block;
  border-radius: 0 0 4px 4px;
  min-height: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.sublist-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
}

.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-container {
  padding: 32px 16px;
}
/* /mobile style team section */
/* media stule for tablets/desktop */
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  @media (min-width: 1158px) {
    .team-list {
      flex-wrap: nowrap;
    }
  }
}
/* /media stule for tablets/desktop */
/* mobile styles for portfolio section */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-container-description {
  color: #f4f4fd;
  position: absolute;
  top: 0;
  font-weight: 400;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-container-description {
  transform: translateY(0);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #f4f4fd;
  border-top: none;
}

.portfolio-sublist-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description-list-item {
  font-weight: 400;
}

.portfolio-container-item {
  position: relative;
  overflow: hidden;
}
/* /mobile styles for portfolio section */
/* media styles portfolio section for tablets/desktop */
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
  }
  @media (min-width: 768px) and (max-width: 1157px) {
    .portfolio-list-item:hover .portfolio-card {
      border: none;
    }
  }

  @media (min-width: 1158px) {
    .portfolio-list {
      row-gap: 48px;
    }

    .portfolio-card {
      border-color: #e7e9fc;
      border-top: none;
      transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-list-item:hover .portfolio-card {
      border-color: #f4f4fd;
    }
  }
}
/* /media styles portfolio section for tablets/desktop */
/* mobile footer styles */
.footer-box {
  background-color: #2e2f42;
  padding: 96px 16px;
}

.container-footer {
  margin-bottom: 72px;
  text-align: center;
}

.nav-logo.nav-logo-footer {
  padding: 1.5px 0;
  margin-bottom: 16px;
}

.footer-description,
.footer .span-logo {
  color: #f4f4fd;
}

.footer-description {
  text-align: left;
}

.footer-social-media {
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.footer-social-icons {
  justify-content: center;
  align-items: center;
}

.subscribe-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.subscribe-label {
  display: block;
  margin-bottom: 16px;
}

.subscribe-input {
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  opacity: 1;
  outline: transparent;
  border: 1px solid #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

.subscribe-btn {
  /* typography */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  /* box model */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0 auto;
  min-width: 165px;
  max-height: 40px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
/* /mobile footer styles */
/* media styles for tablets/desktop */
@media only screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
    justify-content: flex-start;
    padding-right: 164px;
  }

  .container-footer {
    display: inline-block;
    text-align: left;
    max-width: 264px;
    margin-bottom: 0;
  }

  .footer-container-social {
    display: inline-block;
  }

  .footer-social-media {
    text-align: left;
  }

  .footer-list {
    margin-bottom: 0;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-subtitle {
    text-align: left;
  }

  .subscribe-label {
    margin-bottom: 0;
  }

  .subscribe-input {
    max-width: 264px;
  }

  @media (min-width: 1158px) {
    .footer-box {
      column-gap: 0;
      display: flex;
      flex-wrap: nowrap;
      padding: 100px 15px;
      align-items: baseline;
    }
    .container-footer {
      margin-right: 120px;
    }
    .footer-container-social {
      margin-right: 80px;
    }

    .footer-list {
      margin-bottom: 0;
    }

    .subscribe-input {
      opacity: 1;
    }
    .subscribe-input::placeholder {
      opacity: 1;
    }
  }
}
/* media styles for tablets/desktop */
/* mobile modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 99;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  width: 288px;
  max-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: white;
  border: none;
  outline: transparent;
}

.modal-subtitle {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label-container {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  min-height: 40px;
  min-width: 256px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-container {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-texarea-container {
  margin-bottom: 16px;
}

.modal-text-comment {
  display: block;
  background-color: transparent;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-text-comment:focus {
  border-color: #4d5ae5;
}

.modal-text-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  opacity: 0.5;
}

.modal-privacy-label {
  position: relative;
  padding-left: 24px;
}
.modal-checkbox-container {
  margin-bottom: 24px;
}

.custom-checkbox-item {
  position: absolute;
  top: 7px;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-hidden-privacy:checked
  + .modal-privacy-label
  > .custom-checkbox-item {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
  border-color: #404bbf;
}

.modal-privacy-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-btn {
  /* box model */
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  /* typography */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}
/* /mobile modal styles */
/* media  modal styles for tablets/desktop */
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .modal-input {
    min-width: 360px;
  }

  .modal-privacy-label {
    position: static;
    padding-left: 0;
    margin-bottom: 24px;
  }

  .custom-checkbox-item {
    position: static;
    margin-right: 8px;
  }
}
/* /media  modal styles for tablets/desktop */
