/* global styles*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
/* ===========Global margin/padding=========== */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}

.section {
  padding: 120px 0;
}

/* global styles for h2  */
main .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
/* global styles for h3  */
main .sublist-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* start header section */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header,
.menu,
.address-list {
  display: flex;
}

.container-header {
  padding: 0x 15px;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}
.nav-page {
  align-items: center;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal;
  /* added margin */
  margin-right: 76px;
  padding: 1.5px 0;
}

.span-logo {
  color: #2e2f42;
}

.menu {
  column-gap: 40px;
}
.menu .menu-list-link {
  font-weight: 500;
  color: #2e2f42;
}

.menu .menu-list-link:hover,
.menu .menu-list-link:focus {
  font-weight: 500;
  color: #404bbf;
}
.menu-list {
  padding: 24px 0;
}

/* margin for menu list */
.address {
  font-style: normal;
}
.address .address-list-link {
  color: #434455;
}

.address .address-list-link:hover,
.address .address-list-link:focus {
  color: #404bbf;
}

.address-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-page {
  display: flex;
  flex-direction: row;
}
/* ended header styles */
/* start main blockstyles/first section */
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  /* added margin-btn */
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.first-section .button {
  display: block;
  cursor: pointer;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  height: 56px;
}

.first-section .button:hover,
.first-section .button:focus {
  background: #404bbf;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  min-width: 169px;
  height: 56px;
}

/* ended first section */
/* Our goals section styles*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.goals-list {
  /* box model */
  display: flex;
  gap: 24px;
}

.goals-list-item {
  max-width: calc((100% - 72px) / 4);
}
/* start Our team section*/
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  /* box model */
  border-radius: 0 0 4px 4px;
  max-width: calc((100% - 72px) / 4);
  /* styles */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.team-list-container {
  padding: 32px 0;
}
.team-list .sublist-title,
.team-list .description {
  text-align: center;
}

.sublist-title {
  margin-bottom: 8px;
}
/* end Our team section */
/* Our portfolio section styles */

.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  max-width: calc((100% + 48px) / 3);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
.portfolio-sublist-title {
  margin-bottom: 8px;
}

/* start footer section*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .nav-logo {
  display: block;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer .description,
.footer .span-logo {
  color: #f4f4fd;
}

.footer-decription {
  max-width: 264px;
}
