/* global styles*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
/* ===========Global margin/padding=========== */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}

.section {
  padding: 120px 0;
}

/* global styles for h2  */
main .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
/* global styles for h3  */
main .sublist-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* start header section */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header,
.menu,
.address-list {
  display: flex;
}

.container-header {
  padding: 0x 15px;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}
.nav-page {
  align-items: center;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal;
  /* added margin */
  margin-right: 76px;
  padding: 1.5px 0;
}

.span-logo {
  color: #2e2f42;
}

.menu {
  gap: 40px;
}
.menu-list-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .menu-list-link:hover,
.menu .menu-list-link:focus {
  font-weight: 500;
  color: #404bbf;
}
/* ABSOLUTE ::AFTER */
.link-pseudo {
  position: relative;
  color: #404bbf;
}

.link-pseudo::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
/* margin for menu list */
.address {
  font-style: normal;
}
.address .address-list-link {
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-list-link:hover,
.address .address-list-link:focus {
  color: #404bbf;
}

.address-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-page {
  display: flex;
  flex-direction: row;
}
/* ended header styles */
/* start main blockstyles/first section */
.first-section {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;

  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.first-section .button {
  display: block;
  cursor: pointer;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  height: 56px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section .button:hover,
.first-section .button:focus {
  background-color: #404bbf;
}

/* ended first section */
/* Our goals section styles*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.goals-list {
  /* box model */
  display: flex;

  gap: 24px;
}

.goals-list-item {
  max-width: calc((100% - 72px) / 4);
}

.goals-list-card {
  /* box model */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.goals-card-item {
  fill: currentColor;
}

/* start Our team section*/
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  /* box model */
  display: block;
  border-radius: 0 0 4px 4px;
  max-width: calc((100% - 72px) / 4);
  /* styles */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  height: 100%;
}

.team-list-container {
  padding: 32px 0px;
}
.team-list-container .description {
  padding-bottom: 8px;
}
.team-list .sublist-title,
.team-list .description {
  text-align: center;
}

.sublist-title {
  margin-bottom: 8px;
}

.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
}

/* end Our team section */
/* Our portfolio section styles */

.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  max-width: calc((100% + 48px) / 3);
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-container-description {
  color: #f4f4fd;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-container-description {
  transform: translateY(0);
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-sublist-title {
  margin-bottom: 8px;
}

.portfolio-container-item {
  position: relative;
  overflow: hidden;
}

/* start footer section*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.nav-logo-footer {
  /* box model */
  color: #4d5ae5;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer .description,
.footer .span-logo {
  color: #f4f4fd;
}

.footer-decription {
  max-width: 264px;
}

.footer-container-social {
  display: block;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}
.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.footer-social-icons {
  justify-content: center;
  align-items: center;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.container-footer {
  margin-right: 120px;
}

.footer-social-media {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
